Silently discard bad addresses

See section 3.2.1.3 of RFC 1122.